.div1{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    color: wheat;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 60px;
    color: wheat;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: cursive;
    box-shadow: 10px 10px 5px gray;
    
}
.div2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: wheat;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    height: 300px;
    vertical-align: top;
    box-shadow: 10px 10px 5px gray;

}
.btn{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.home{
    width: 350px;
    color: blue;
    background-color: wheat;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    
}
.hmbtn{
    color: wheat;
    background-color: blue;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: cursive;
    border-radius: 20px;
    
    border-color: solid 2px red;
}
.dwnldbtn{
    border: solid 4px wheat;
    background-color: blue;
    color: wheat;
    margin-bottom: 15px;
    border-radius: 20px;
    
}
.header{
    display: block;
    height: 50px;
    border: solid 4px blue;
    border-radius: 20px;
    margin-bottom: 10px;
}
body{
    background-color: wheat;
   
    
}
.div12{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.con-header{
    display: block;
    text-align: end;
    justify-content: center;
    color: blue;
    background-color: wheat;
    border: solid 2px blue;
    align-content: space-around;
    border-radius: 20px;
    
}
.conhd{
    border-radius: 20px;
    color: wheat;
    background-color: blue;
    width: 100px;
    height: 30px;
    vertical-align: middle;
    align-content: center;
    border: solid 1px white;


}
.conhd:hover,.home:hover,.dwnldbtn:hover{
    background-color: aliceblue;
    color: blue;
    border: solid 1px blue;
}
.condiv12{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.con-input{
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 3px wheat;
    border-radius: 10px;
}
.con-div2{
    border-radius: 20px;
    background-color: blue;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
input{
    color: blue;
    background-color: wheat;
}
.con-div1{
    align-content: center;
    background-color: blue;
    border-radius: 20px;
    margin: 10px;
   
}
    
#conimg{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%S;

}
#conimg1{
    border-radius: 100%;
    width: 500px;
    align-content: center;
    margin-left: 50px;
}
.hmh2{
    background-color: blue;
    color: wheat;
    text-align: center;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.fw{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    color: wheat;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fw1{

}
#icon{
    width: 100px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    vertical-align: middle;
}
#icon2{
    width: 250px;
    font-size: large;
    font-weight: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}